
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.clock-container {
  font-family: 'Orbitron', sans-serif;
  font-size: 5em;
  color: rgb(221, 206, 0);
}

.clock-container p {
  font-size: .2em;
}